html{
    height: 100%;

    --bg: #FCFCFC;
    --bg-panel: #EBEBEB;
    --color-headings: #0077FF;
    --color-text: #000000;
    --hover:#ff8c8c;
    --rodape:#7d807f;
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--bg);
    color: var(--color-text); 
} 
.topo{
    background-color:var(--bg);
        color: var(--color-text); 
    text-align: center;
    padding: 10px;
    
    flex-direction: column;
    
}
.logo{
    text-align: center;
    padding: 5px;
    height: 100px;
    width: 100px;
}

.menu{
    background-color:var(--bg);
    color: var(--bg);
    padding: 10px 1;
    width: 100%;
  }

.menu a{
    text-decoration: none;
    color: var(--bg);
    background-color: var(--color-text);
    padding: 10px;
    display: inline-block;
    width: 200px;
    border:var(--bg) solid ;
}

.menu a:hover{
    background-color: var(--hover);
    color: var(--color-text);

}

input[type=checkbox]{
    height: 0;
    width: 0;
    visibility: hidden;
}

label {
    cursor: pointer;
    text-indent: -9999px;
    width: 52px;
    height: 27px;
    background: grey;
    float: right;
    border-radius: 100px;
    position: relative;
}

label::after{
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 90px;
    transition: 0.3s;
}

input:checked + label {
    background-color: var(--color-headings);
}

input:checked + label::after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
}

label:active:after {
    width: 45px;
}
footer{
  position: absolute;
  width: 100%;
  background-color: var(--rodape);
  color: var(--bg);
}

.logo{
    margin: 5px;
    padding: 2px;
    justify-content: right;
}



.fim{
    text-align: center;
  background-color: var(--rodape);
 color: white;
}
.card-deck{
    text-align: center;
    background-color: var(--bg);
    color: var(--color-text);
}
.card-text{
    background-color: var(--bg);
    color: var(--color-text);
}

.card-header{
       background-color: var(--bg);
    color: var(--color-text); 
}

.sobre{
    background-color: var(--bg);
    color: var(--color-text); 
}
.card-title{
    background-color: var(--bg);
    color: var(--color-text);
}

.card-deck{
    background-color: var(--bg);
    color: var(--color-text); 
}

.card-header{
    background-color: var(--bg);
    color: var(--color-text);
}

.texto{
    background-color: var(--bg);
    color: var(--color-text); 
}

.titulo{
    background-color: var(--bg);
    color: var(--color-text);  
}

div{
     background-color: var(--bg);
    color: var(--color-text);    
}
p{
    background-color: var(--bg);
    color: var(--color-text); 
}

.redes{
display: flex;
flex-wrap: wrap;
  background-color: var(--rodape);
  color: var(--bg);
}

.rodape{
    margin: 2px;
  background-color: var(--rodape);
 color: white;
}

.redes p{
    text-align: center;
        background-color: var(--rodape);
    color: var(--color-text); 
}


.banner img{
    margin: 5px 2%;
    height: 450px;
    width: 95%;
}

.redes-social{
    justify-content: center;
}
svg{
  height: 70px;
  margin: 2px;
  padding: 5px;
}

.titulo{
    text-align: center;
}

.texto{
    margin: 10px;
}
